<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/usr/share/maven/ref/repository</localRepository>
    <servers>
        <server>
            <id>docker.io</id>
            <username>${env.LOGIN_DOCKER_HUB}</username>
            <password>${env.PASSWD_DOCKER_HUB}</password>
        </server>
    </servers>
</settings>
